table, tr, td, th{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: .5em;
}
th {
  background-color: #cccccc;
}
tr:nth-child(2n) {
  background-color: #ececec;
}
table {
  width: 100%;
}
.App-header {
  min-height: 100vh;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}
/* add transaction*/
.app-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.add-transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add-transaction-captions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  white-space: nowrap;
}
.add-transaction-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 70%;
}
.add-transaction-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.add-transaction-button div {
  margin-top: 15px
}
.add-transaction button{
  padding: 5px 40px;
}
.add-transaction input {
  margin: 0px 35px;
  height: 30px;
}
/* table transaction*/
.table-container {
  margin: 2em 0;
}