table, tr, td, th{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: .5em;
}
th {
  background-color: #cccccc;
}
tr:nth-child(2n - 1) {
  background-color: #ececec;
}
table {
  width: 100%;
}
.App-header {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}
/* add transaction*/
.add-transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-transaction  button{
  padding: 1em;
  cursor: pointer;
  display: block;
}
.add-transaction-elements {
  display: flex;
  flex-direction: column;
}
/* table transaction*/
.table-container {
  margin: 2em 0;
}